/* Global Styling */

*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

main{
    margin: 50px 0;
}

.inline{
    display: inline;
}

/* Global styling END */

/* Navbar Styling */

nav{
    background-color: #2A3D4B;
}


.links{
    float: right;
    margin-top: 20px ;
}

.links a{
    margin:5px;
    text-decoration: none;
    color: #778892;
}


/* Navbar end */


/* Profile Header */

.profile{
    margin: 0 auto;
}

.profile-header{
    position: relative;
    margin: 50px 0;
}

.cover-photo{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.profile-info{
    margin-top: 40px;
    margin-left: 20px;
    
}

.profile-pic{
    width: 120px;
    height: 120px;
    overflow: hidden;

    border: 4px rgb(255, 255, 255) solid;
    position: absolute;
    top: 100px;
    left: 11%;
}

/* Profile Header END */


/* scrollspy starts HERE */

aside{

    width: 10%;
    margin-top: 40px;
    margin-left: 10%;
    border: solid 1px rgb(179, 170, 170);
}


.scrollspy-item{
    margin: 5px ;
    display: block;
    text-decoration: none;
}


/* scrollspy ends HERE */


